In [4]:
import pandas as pd
import re

In [5]:
df=pd.read_csv('frauds.csv')

C:\Users\HAI\AppData\Local\Temp\ipykernel_22192\1449140172.py:1: DtypeWarning: Columns (1,8) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('frauds.csv')

In [6]:
df.columns = [re.sub(r';;;', '', col) for col in df.columns]
 
df = df.applymap(lambda x: re.sub(r';;;', '', str(x)) if isinstance(x, str) else x)

C:\Users\HAI\AppData\Local\Temp\ipykernel_22192\1339574411.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x: re.sub(r';;;', '', str(x)) if isinstance(x, str) else x)

In [20]:
df.columns = [re.sub(r';;', '', col) for col in df.columns]
 
df = df.applymap(lambda x: re.sub(r';;', '', str(x)) if isinstance(x, str) else x)

C:\Users\HAI\AppData\Local\Temp\ipykernel_22192\3784443779.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x: re.sub(r';;', '', str(x)) if isinstance(x, str) else x)

In [22]:
df.columns = [re.sub(r';', '', col) for col in df.columns]
 
df = df.applymap(lambda x: re.sub(r';', '', str(x)) if isinstance(x, str) else x)

C:\Users\HAI\AppData\Local\Temp\ipykernel_22192\1225933125.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x: re.sub(r';', '', str(x)) if isinstance(x, str) else x)

In [7]:


# Rename columns to meaningful names
df.columns = [
    'record_id',               # Unnamed: 0
    'customer_number',         # NIS_RAD
    'fraud_case_number',       # NUM_FR
    'detection_date',          # F_DETEC
    'fraud_type',              # TIPO(TR.TIP_FRA)
    'fraud_observation',       # OBS_FRA
    'address_reference',       # REF_DIR
    'total_recovered_amount',  # IMP_TOT_REC
    'recovery_number',         # NUM_REC
    'account_status',          # ESTADO(RE.EST_ACT)
    'device_code',             # CODIGO(AP.CO_APARATO)
    'power_capacity_kw',       # POTENCIA
    'quantity',                # CANTIDAD
    'daily_usage_hours'        # HORAS_USO_DIA
]

 
print(df.head())

   record_id customer_number  fraud_case_number detection_date  \
0          0       200054854           200001.0     01/02/2011
1          1       200054854           200001.0     01/02/2011
2          2       200054854           200001.0     01/02/2011
3          3       200054854           200001.0     01/02/2011
4          4       200054854           200001.0     01/02/2011

                 fraud_type              fraud_observation address_reference  \
0  SHUNT AT METER TERMINALS   shunt aux bornes du compteur             DEIDO
1  SHUNT AT METER TERMINALS   shunt aux bornes du compteur             DEIDO
2  SHUNT AT METER TERMINALS   shunt aux bornes du compteur             DEIDO
3  SHUNT AT METER TERMINALS   shunt aux bornes du compteur             DEIDO
4  SHUNT AT METER TERMINALS   shunt aux bornes du compteur             DEIDO

   total_recovered_amount recovery_number       account_status  \
0                303244.0       221714517  POTENTIAL WRITE-OFF
1                303244.0       221714517  POTENTIAL WRITE-OFF
2                303244.0       221714517  POTENTIAL WRITE-OFF
3                303244.0       221714517  POTENTIAL WRITE-OFF
4                303244.0       221714517  POTENTIAL WRITE-OFF

                     device_code  power_capacity_kw  quantity  \
0  TELEVISEUR/VACUUM CLEANER/FAX              100.0       3.0
1                        DECODER              100.0       2.0
2                            FAN               75.0       3.0
3                           LAMP               60.0       6.0
4              REFRIGERATOR 250L              190.0       1.0

  daily_usage_hours
0                10
1                10
2                 6
3                 8
4                12

In [8]:
df.loc[0]

record_id                                             0
customer_number                               200054854
fraud_case_number                              200001.0
detection_date                               01/02/2011
fraud_type                     SHUNT AT METER TERMINALS
fraud_observation          shunt aux bornes du compteur
address_reference                                 DEIDO
total_recovered_amount                         303244.0
recovery_number                               221714517
account_status                      POTENTIAL WRITE-OFF
device_code               TELEVISEUR/VACUUM CLEANER/FAX
power_capacity_kw                                 100.0
quantity                                            3.0
daily_usage_hours                                    10
Name: 0, dtype: object

In [10]:
df.account_status.value_counts()

account_status
PAID UNDER INSTALMENT AGREEMENT                 287794
PAID                                            268568
POTENTIAL WRITE-OFF                             250368
SUSPENDED                                       116231
CANCELLED                                        66431
SENT TO CUSTOMER                                 42692
UNDER INSTALMENT AGREEMENT                       11685
BILLED                                            1764
MANUAL DEFINITE WRITE-OFF                         1263
SUSPENSION PROCESS DETAINED                        631
FINAL DEMAND LETTER                                499
CANCELLED DUE TO TRANSFER TO ANOTHER ACCOUNT       256
AUTOMATICALLY COLLECTED STAFF INVOICE               87
AUTOMATICALLY COLLECTED ZERO AMOUNT                 19
MANUAL POTENTIAL WRITE-OFF                          12
Name: count, dtype: int64

In [ ]:
'''Status	Meaning / Possible Category:

1. PAID, PAID UNDER INSTALMENT AGREEMENT, UNDER INSTALMENT AGREEMENT, BILLED, SENT TO CUSTOMER	------------>   Non-Fraud / Normal


2.POTENTIAL WRITE-OFF, MANUAL DEFINITE WRITE-OFF, MANUAL 
POTENTIAL WRITE-OFF, SUSPENDED, SUSPENSION PROCESS DETAINED, FINAL DEMAND LETTER,   ------------------->    Fraud / Risky / Problematic
CANCELLED, CANCELLED DUE TO TRANSFER TO ANOTHER ACCOUNT

3.AUTOMATICALLY COLLECTED STAFF INVOICE, AUTOMATICALLY COLLECTED ZERO AMOUNT     -------------->    Maybe negligible cases or edge scenarios
'''

In [12]:
fraud_statuses = [
    'POTENTIAL WRITE-OFF',
    'MANUAL DEFINITE WRITE-OFF',
    'MANUAL POTENTIAL WRITE-OFF',
    'SUSPENDED',
    'SUSPENSION PROCESS DETAINED',
    'FINAL DEMAND LETTER',
    'CANCELLED',
    'CANCELLED DUE TO TRANSFER TO ANOTHER ACCOUNT'
]

df['is_fraud'] = df['account_status'].apply(lambda x: 1 if x in fraud_statuses else 0)

In [13]:
df.head()

,record_id,customer_number,fraud_case_number,detection_date,fraud_type,fraud_observation,address_reference,total_recovered_amount,recovery_number,account_status,device_code,power_capacity_kw,quantity,daily_usage_hours,is_fraud
0,0,200054854,200001.0,01/02/2011,SHUNT AT METER TERMINALS,shunt aux bornes du compteur,DEIDO,303244.0,221714517,POTENTIAL WRITE-OFF,TELEVISEUR/VACUUM CLEANER/FAX,100.0,3.0,10,1
1,1,200054854,200001.0,01/02/2011,SHUNT AT METER TERMINALS,shunt aux bornes du compteur,DEIDO,303244.0,221714517,POTENTIAL WRITE-OFF,DECODER,100.0,2.0,10,1
2,2,200054854,200001.0,01/02/2011,SHUNT AT METER TERMINALS,shunt aux bornes du compteur,DEIDO,303244.0,221714517,POTENTIAL WRITE-OFF,FAN,75.0,3.0,6,1
3,3,200054854,200001.0,01/02/2011,SHUNT AT METER TERMINALS,shunt aux bornes du compteur,DEIDO,303244.0,221714517,POTENTIAL WRITE-OFF,LAMP,60.0,6.0,8,1
4,4,200054854,200001.0,01/02/2011,SHUNT AT METER TERMINALS,shunt aux bornes du compteur,DEIDO,303244.0,221714517,POTENTIAL WRITE-OFF,REFRIGERATOR 250L,190.0,1.0,12,1

In [14]:
df.loc[0]

record_id                                             0
customer_number                               200054854
fraud_case_number                              200001.0
detection_date                               01/02/2011
fraud_type                     SHUNT AT METER TERMINALS
fraud_observation          shunt aux bornes du compteur
address_reference                                 DEIDO
total_recovered_amount                         303244.0
recovery_number                               221714517
account_status                      POTENTIAL WRITE-OFF
device_code               TELEVISEUR/VACUUM CLEANER/FAX
power_capacity_kw                                 100.0
quantity                                            3.0
daily_usage_hours                                    10
is_fraud                                              1
Name: 0, dtype: object

In [15]:
from sklearn.preprocessing import LabelEncoder

# List of columns to encode
categorical_cols = ['fraud_type', 'fraud_observation', 'address_reference', 
                    'account_status', 'device_code']

# Initialize the encoder
le = LabelEncoder()

# Apply label encoding to each categorical column
for col in categorical_cols:
    df[col] = le.fit_transform(df[col].astype(str))

# Now your DataFrame has label-encoded values in those columns
print(df.head())

   record_id customer_number  fraud_case_number detection_date  fraud_type  \
0          0       200054854           200001.0     01/02/2011          42
1          1       200054854           200001.0     01/02/2011          42
2          2       200054854           200001.0     01/02/2011          42
3          3       200054854           200001.0     01/02/2011          42
4          4       200054854           200001.0     01/02/2011          42

   fraud_observation  address_reference  total_recovered_amount  \
0               1057              31351                303244.0
1               1057              31351                303244.0
2               1057              31351                303244.0
3               1057              31351                303244.0
4               1057              31351                303244.0

  recovery_number  account_status  device_code  power_capacity_kw  quantity  \
0       221714517              10          121              100.0       3.0
1       221714517              10           34              100.0       2.0
2       221714517              10           43               75.0       3.0
3       221714517              10           75               60.0       6.0
4       221714517              10          107              190.0       1.0

  daily_usage_hours  is_fraud
0                10         1
1                10         1
2                 6         1
3                 8         1
4                12         1

In [16]:
df.head()

,record_id,customer_number,fraud_case_number,detection_date,fraud_type,fraud_observation,address_reference,total_recovered_amount,recovery_number,account_status,device_code,power_capacity_kw,quantity,daily_usage_hours,is_fraud
0,0,200054854,200001.0,01/02/2011,42,1057,31351,303244.0,221714517,10,121,100.0,3.0,10,1
1,1,200054854,200001.0,01/02/2011,42,1057,31351,303244.0,221714517,10,34,100.0,2.0,10,1
2,2,200054854,200001.0,01/02/2011,42,1057,31351,303244.0,221714517,10,43,75.0,3.0,6,1
3,3,200054854,200001.0,01/02/2011,42,1057,31351,303244.0,221714517,10,75,60.0,6.0,8,1
4,4,200054854,200001.0,01/02/2011,42,1057,31351,303244.0,221714517,10,107,190.0,1.0,12,1

In [17]:
from sklearn.preprocessing import StandardScaler
import pandas as pd

In [23]:
scaler = StandardScaler()

# Scale all features except customer number
scaled_features = scaler.fit_transform(df.drop(['customer_number','is_fraud','detection_date'], axis=1))

In [24]:
df_scaled=pd.DataFrame(scaled_features,columns=df.drop(['customer_number','is_fraud','detection_date'],axis=1).columns)

In [25]:
df_scaled['customer_number']=df['customer_number']
df_scaled['is_fraud']=df['is_fraud']  
df_scaled['detection_date']=df['detection_date']

In [27]:
df_scaled.head()

,record_id,fraud_case_number,fraud_type,fraud_observation,address_reference,total_recovered_amount,recovery_number,account_status,device_code,power_capacity_kw,quantity,daily_usage_hours,customer_number,is_fraud,detection_date
0,-1.732049,-2.348978,1.024354,-1.5921,-0.702321,-0.037451,-2.480129,0.452485,1.317647,-0.311753,0.200031,0.657214,200054854,1,01/02/2011
1,-1.732046,-2.348978,1.024354,-1.5921,-0.702321,-0.037451,-2.480129,0.452485,-1.172812,-0.311753,-0.119721,0.657214,200054854,1,01/02/2011
2,-1.732043,-2.348978,1.024354,-1.5921,-0.702321,-0.037451,-2.480129,0.452485,-0.915178,-0.377787,0.200031,-0.394625,200054854,1,01/02/2011
3,-1.732039,-2.348978,1.024354,-1.5921,-0.702321,-0.037451,-2.480129,0.452485,0.000853,-0.417407,1.159287,0.131295,200054854,1,01/02/2011
4,-1.732036,-2.348978,1.024354,-1.5921,-0.702321,-0.037451,-2.480129,0.452485,0.916883,-0.074032,-0.439473,1.183134,200054854,1,01/02/2011

In [30]:
df_scaled=df_scaled.fillna(0)

In [35]:
from sklearn.feature_selection import SelectKBest, f_classif
import pandas as pd

# Assuming your target column
target_col = 'is_fraud'

# Separate features and target
X = df_scaled.drop(columns=[target_col])
y = df_scaled[target_col]

# If necessary, drop non-informative columns like IDs
X = X.drop(columns=['record_id', 'customer_number', 'fraud_case_number', 'recovery_number','detection_date','account_status'])  # optional, depending on use-case

# Apply SelectKBest with ANOVA F-test
selector = SelectKBest(score_func=f_classif, k='all')  # or choose a value for k (top k features)

# Fit selector to data
selector.fit(X, y)

# Get feature scores
scores_df = pd.DataFrame({
    'Feature': X.columns,
    'F_Score': selector.scores_,
    'p_value': selector.pvalues_
}).sort_values(by='F_Score', ascending=False)

# Display feature scores
print(scores_df)

                  Feature       F_Score        p_value
3  total_recovered_amount  15624.642940   0.000000e+00
6                quantity   2421.348203   0.000000e+00
5       power_capacity_kw   1575.715281   0.000000e+00
1       fraud_observation   1141.529644  4.244923e-250
7       daily_usage_hours    780.088215  1.331834e-171
0              fraud_type    313.410961   4.040325e-70
4             device_code    198.934402   3.601726e-45
2       address_reference     59.312088   1.346642e-14

In [36]:
scores_df

                  Feature       F_Score        p_value
3  total_recovered_amount  15624.642940   0.000000e+00
6                quantity   2421.348203   0.000000e+00
5       power_capacity_kw   1575.715281   0.000000e+00
1       fraud_observation   1141.529644  4.244923e-250
7       daily_usage_hours    780.088215  1.331834e-171
0              fraud_type    313.410961   4.040325e-70
4             device_code    198.934402   3.601726e-45
2       address_reference     59.312088   1.346642e-14

In [34]:
df_scaled.account_status.value_counts()

account_status
-0.027229    287794
-0.506943    268568
 0.452485    250368
 1.411912    116231
-2.905511     66431
 0.932199     42692
 2.371340     11685
-3.385225      1764
-1.466370      1263
 1.891626       631
-1.946084       499
 2.851054       275
-2.425798       256
-4.344653        87
-3.864939        19
-0.986656        12
Name: count, dtype: int64

In [ ]:
#total recovered amount
#amount
#power_capacity_kw
#power_capacity_kw
#fraud_observation
#daily_usage_hours
#fraud_type
#device_code
#address_reference

In [39]:
df_scaled.head()

,record_id,fraud_case_number,fraud_type,fraud_observation,address_reference,total_recovered_amount,recovery_number,account_status,device_code,power_capacity_kw,quantity,daily_usage_hours,customer_number,is_fraud,detection_date
0,-1.732049,-2.348978,1.024354,-1.5921,-0.702321,-0.037451,-2.480129,0.452485,1.317647,-0.311753,0.200031,0.657214,200054854,1,01/02/2011
1,-1.732046,-2.348978,1.024354,-1.5921,-0.702321,-0.037451,-2.480129,0.452485,-1.172812,-0.311753,-0.119721,0.657214,200054854,1,01/02/2011
2,-1.732043,-2.348978,1.024354,-1.5921,-0.702321,-0.037451,-2.480129,0.452485,-0.915178,-0.377787,0.200031,-0.394625,200054854,1,01/02/2011
3,-1.732039,-2.348978,1.024354,-1.5921,-0.702321,-0.037451,-2.480129,0.452485,0.000853,-0.417407,1.159287,0.131295,200054854,1,01/02/2011
4,-1.732036,-2.348978,1.024354,-1.5921,-0.702321,-0.037451,-2.480129,0.452485,0.916883,-0.074032,-0.439473,1.183134,200054854,1,01/02/2011